<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,233}}</string>
                <key>sourceSize</key>
                <string>{423,233}</string>
            </dict>
            <key>guide(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,467},{153,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,92}}</string>
                <key>sourceSize</key>
                <string>{153,92}</string>
            </dict>
            <key>guide(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{427,230},{160,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,67}}</string>
                <key>sourceSize</key>
                <string>{160,67}</string>
            </dict>
            <key>guide(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{227,722},{152,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,90}}</string>
                <key>sourceSize</key>
                <string>{152,90}</string>
            </dict>
            <key>guide(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{151,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,42}}</string>
                <key>sourceSize</key>
                <string>{151,42}</string>
            </dict>
            <key>guide(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{427,74},{154,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,68}}</string>
                <key>sourceSize</key>
                <string>{154,68}</string>
            </dict>
            <key>guide(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,375},{159,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,90}}</string>
                <key>sourceSize</key>
                <string>{159,90}</string>
            </dict>
            <key>guide(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{154,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,91}}</string>
                <key>sourceSize</key>
                <string>{154,91}</string>
            </dict>
            <key>guide(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{74,70}</string>
            </dict>
            <key>guide(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{381,701},{152,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,91}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>guide(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{152,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{152,43}</string>
            </dict>
            <key>guide(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{156,727},{152,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,65}}</string>
                <key>sourceSize</key>
                <string>{152,65}</string>
            </dict>
            <key>guide(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{139,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,43}}</string>
                <key>sourceSize</key>
                <string>{139,43}</string>
            </dict>
            <key>guide(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{229,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,175}}</string>
                <key>sourceSize</key>
                <string>{229,175}</string>
            </dict>
            <key>guide(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,282},{159,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,91}}</string>
                <key>sourceSize</key>
                <string>{159,91}</string>
            </dict>
            <key>guide(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{394,392},{153,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,114}}</string>
                <key>sourceSize</key>
                <string>{153,114}</string>
            </dict>
            <key>guide(23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{158,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,91}}</string>
                <key>sourceSize</key>
                <string>{158,91}</string>
            </dict>
            <key>guide(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{227,606},{152,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>guide(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{386,547},{152,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>guide(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,561},{153,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,43}}</string>
                <key>sourceSize</key>
                <string>{153,43}</string>
            </dict>
            <key>guide(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,237},{160,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,43}}</string>
                <key>sourceSize</key>
                <string>{160,43}</string>
            </dict>
            <key>guide(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{152,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,139}}</string>
                <key>sourceSize</key>
                <string>{152,139}</string>
            </dict>
            <key>guide(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{158,573},{152,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,67}}</string>
                <key>sourceSize</key>
                <string>{152,67}</string>
            </dict>
            <key>guide(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,414},{157,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,67}}</string>
                <key>sourceSize</key>
                <string>{157,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guideUI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f86c80b9ec0d7bf14a454255c77aad:dc3bf95b5b132cd070c006a79d415621:a993d13519fd16b80e2263e916456afc$</string>
            <key>textureFileName</key>
            <string>guideUI.png</string>
        </dict>
    </dict>
</plist>
