<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameExtra(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>gameExtra(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{346,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,8}}</string>
                <key>sourceSize</key>
                <string>{346,8}</string>
            </dict>
            <key>gameExtra(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{356,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,11}}</string>
                <key>sourceSize</key>
                <string>{356,11}</string>
            </dict>
            <key>rank(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{190,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,56}}</string>
                <key>sourceSize</key>
                <string>{190,56}</string>
            </dict>
            <key>rank(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{212,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,41}}</string>
                <key>sourceSize</key>
                <string>{212,41}</string>
            </dict>
            <key>rank(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{216,60},{212,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,42}}</string>
                <key>sourceSize</key>
                <string>{212,42}</string>
            </dict>
            <key>rank(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,60},{212,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,42}}</string>
                <key>sourceSize</key>
                <string>{212,42}</string>
            </dict>
            <key>rank(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{644,60},{204,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,32}}</string>
                <key>sourceSize</key>
                <string>{204,32}</string>
            </dict>
            <key>rank(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{243,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,28}}</string>
                <key>sourceSize</key>
                <string>{243,28}</string>
            </dict>
            <key>rank(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{247,104},{285,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,379}}</string>
                <key>sourceSize</key>
                <string>{285,379}</string>
            </dict>
            <key>ranknum0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,104},{160,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,22}}</string>
                <key>sourceSize</key>
                <string>{160,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rankUI.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605c166cd003098c1c788cbfb8f9993d:e5d557a4472214c47f6c3c9a77f6c6d5:e78f5013a428c1be0767af4d62c87be1$</string>
            <key>textureFileName</key>
            <string>rankUI.png</string>
        </dict>
    </dict>
</plist>
