<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>revive(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,389}}</string>
                <key>sourceSize</key>
                <string>{314,389}</string>
            </dict>
            <key>revive(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{146,393},{109,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{109,46}</string>
            </dict>
            <key>revive(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{180,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,82}}</string>
                <key>sourceSize</key>
                <string>{180,82}</string>
            </dict>
            <key>revive(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{459,150},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>revive(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{459,114},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>revive(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{98,393},{109,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{109,46}</string>
            </dict>
            <key>revive(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{50,393},{109,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{109,46}</string>
            </dict>
            <key>revive(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{109,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,46}}</string>
                <key>sourceSize</key>
                <string>{109,46}</string>
            </dict>
            <key>revive(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,86},{179,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,26}}</string>
                <key>sourceSize</key>
                <string>{179,26}</string>
            </dict>
            <key>revive(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{194,393},{230,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,40}}</string>
                <key>sourceSize</key>
                <string>{230,40}</string>
            </dict>
            <key>revive(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,186},{202,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,21}}</string>
                <key>sourceSize</key>
                <string>{202,21}</string>
            </dict>
            <key>revive(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,140},{139,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,24}}</string>
                <key>sourceSize</key>
                <string>{139,24}</string>
            </dict>
            <key>revive(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,114},{139,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,24}}</string>
                <key>sourceSize</key>
                <string>{139,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reviveUI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2fa83109ae24dc034448a7bdd1757ed:c1276d9e38e8a8fc96bb42d50fb9fbe4:ef3025713582a466dabf8437919a28e3$</string>
            <key>textureFileName</key>
            <string>reviveUI.png</string>
        </dict>
    </dict>
</plist>
