<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{430,42},{347,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,77}}</string>
                <key>sourceSize</key>
                <string>{347,77}</string>
            </dict>
            <key>shop(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{351,42},{347,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,77}}</string>
                <key>sourceSize</key>
                <string>{347,77}</string>
            </dict>
            <key>shop(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{318,378},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>shop(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,216}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>shop(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{182,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,21}}</string>
                <key>sourceSize</key>
                <string>{182,21}</string>
            </dict>
            <key>shop(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{347,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,77}}</string>
                <key>sourceSize</key>
                <string>{347,77}</string>
            </dict>
            <key>shop(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{347,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,77}}</string>
                <key>sourceSize</key>
                <string>{347,77}</string>
            </dict>
            <key>shop(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,42},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>shop(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{320,42},{80,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,23}}</string>
                <key>sourceSize</key>
                <string>{80,23}</string>
            </dict>
            <key>shop(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
            <key>shop(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,171},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>shop(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{186,378},{130,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,19}}</string>
                <key>sourceSize</key>
                <string>{130,19}</string>
            </dict>
            <key>shop(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{178,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,38}}</string>
                <key>sourceSize</key>
                <string>{178,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopUI.png</string>
            <key>size</key>
            <string>{509,401}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f80dfd898d4cf735ed6f01a5a2268877:3024d58c0a9f11527f6abd9c732ee026:1fae8bc170488acdcebfe6e29ae8b309$</string>
            <key>textureFileName</key>
            <string>shopUI.png</string>
        </dict>
    </dict>
</plist>
