<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{171,115},{110,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,126}}</string>
                <key>sourceSize</key>
                <string>{110,126}</string>
            </dict>
            <key>player(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{283,115},{105,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,128}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>player(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,134}}</string>
                <key>sourceSize</key>
                <string>{158,134}</string>
            </dict>
            <key>player(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{180,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,111}}</string>
                <key>sourceSize</key>
                <string>{180,111}</string>
            </dict>
            <key>player(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{167,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,116}}</string>
                <key>sourceSize</key>
                <string>{169,116}</string>
            </dict>
            <key>player(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{151,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,106}}</string>
                <key>sourceSize</key>
                <string>{151,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>players.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c792c074de6acc27846adecdd666b4a7:902628c8725fd47d47527ccdac5d4fa0:a538067eba60a937de15ee9eba6563d6$</string>
            <key>textureFileName</key>
            <string>players.png</string>
        </dict>
    </dict>
</plist>
