<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map0_0_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>map0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,687},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>map0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,68},{75,59}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,59}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>map0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,129},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,49}</string>
            </dict>
            <key>map0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,484},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>map0_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,2},{64,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>map0_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2019},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>map1_0_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>map1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,2},{479,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,683}}</string>
                <key>sourceSize</key>
                <string>{479,683}</string>
            </dict>
            <key>map2_0_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
            <key>map2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,484},{478,759}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,759}}</string>
                <key>sourceSize</key>
                <string>{478,759}</string>
            </dict>
            <key>map3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{411,681}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,681}}</string>
                <key>sourceSize</key>
                <string>{411,681}</string>
            </dict>
            <key>map4_0_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{480,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,800}}</string>
                <key>sourceSize</key>
                <string>{480,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapUI0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aef3900d9fd7f892889abc2f0d0e11c:c0d01c6eb9157a56ac33ac4757a1f636:55fce8c340efabfeeff58d3d30423401$</string>
            <key>textureFileName</key>
            <string>mapUI0.png</string>
        </dict>
    </dict>
</plist>
