<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,572},{22,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,81}}</string>
                <key>sourceSize</key>
                <string>{26,81}</string>
            </dict>
            <key>b(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{487,109},{22,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,108}}</string>
                <key>sourceSize</key>
                <string>{26,108}</string>
            </dict>
            <key>b(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,509},{20,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,94}}</string>
                <key>sourceSize</key>
                <string>{22,96}</string>
            </dict>
            <key>b(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{18,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,336}}</string>
                <key>sourceSize</key>
                <string>{18,340}</string>
            </dict>
            <key>b(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{18,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,336}}</string>
                <key>sourceSize</key>
                <string>{18,340}</string>
            </dict>
            <key>b(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,777},{79,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,149}}</string>
                <key>sourceSize</key>
                <string>{79,161}</string>
            </dict>
            <key>b(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{32,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,208}}</string>
                <key>sourceSize</key>
                <string>{32,208}</string>
            </dict>
            <key>b(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{32,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,208}}</string>
                <key>sourceSize</key>
                <string>{32,208}</string>
            </dict>
            <key>b(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{32,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,208}}</string>
                <key>sourceSize</key>
                <string>{32,208}</string>
            </dict>
            <key>b(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{491,735},{17,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,63}}</string>
                <key>sourceSize</key>
                <string>{29,67}</string>
            </dict>
            <key>b(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,258},{29,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,90}}</string>
                <key>sourceSize</key>
                <string>{29,90}</string>
            </dict>
            <key>b(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,346},{26,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,125}}</string>
                <key>sourceSize</key>
                <string>{26,125}</string>
            </dict>
            <key>b(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,205},{75,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>b(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{74,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,229}}</string>
                <key>sourceSize</key>
                <string>{74,229}</string>
            </dict>
            <key>b(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1143},{56,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,900}}</string>
                <key>sourceSize</key>
                <string>{56,900}</string>
            </dict>
            <key>b(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1144},{56,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,900}}</string>
                <key>sourceSize</key>
                <string>{56,900}</string>
            </dict>
            <key>b(23).png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1113},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>b(24).png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1048},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>b(25).png</key>
            <dict>
                <key>frame</key>
                <string>{{340,599},{95,153}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,153}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>b(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{71,226}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{71,226}}</string>
                <key>sourceSize</key>
                <string>{81,240}</string>
            </dict>
            <key>b(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{199,538},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>b(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{46,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,76}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>b(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{476,219},{33,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,72}}</string>
                <key>sourceSize</key>
                <string>{37,76}</string>
            </dict>
            <key>b(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{475,311},{33,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,70}}</string>
                <key>sourceSize</key>
                <string>{33,70}</string>
            </dict>
            <key>b(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{52,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>b(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,289},{32,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,86}}</string>
                <key>sourceSize</key>
                <string>{36,86}</string>
            </dict>
            <key>b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,293},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,173},{30,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,142}}</string>
                <key>sourceSize</key>
                <string>{30,144}</string>
            </dict>
            <key>b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{20,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,46}}</string>
                <key>sourceSize</key>
                <string>{20,46}</string>
            </dict>
            <key>b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,509},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,26}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1645},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,42}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,716},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,17}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>b1_bak.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,282},{62,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,133}}</string>
                <key>sourceSize</key>
                <string>{66,133}</string>
            </dict>
            <key>b27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{39,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{39,38}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>b28.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1101},{41,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,40}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>b29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{71,226}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{71,226}}</string>
                <key>sourceSize</key>
                <string>{81,240}</string>
            </dict>
            <key>b30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{62,483}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,483}}</string>
                <key>sourceSize</key>
                <string>{66,493}</string>
            </dict>
            <key>b31.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,383},{117,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{117,159}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>b32.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,502},{95,153}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,153}}</string>
                <key>sourceSize</key>
                <string>{97,163}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1026},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1756},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,696},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,253},{10,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,73}}</string>
                <key>sourceSize</key>
                <string>{10,75}</string>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,531},{39,88}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{39,88}}</string>
                <key>sourceSize</key>
                <string>{45,98}</string>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1113},{28,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,50}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>baodian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{18,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,336}}</string>
                <key>sourceSize</key>
                <string>{18,340}</string>
            </dict>
            <key>baodian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{18,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,336}}</string>
                <key>sourceSize</key>
                <string>{18,340}</string>
            </dict>
            <key>dz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1689},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>lightning(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{192,588},{39,509}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,6},{39,509}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>lightning(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,507}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{105,507}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>lightning(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{105,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,515}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>lightning(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,328},{105,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,515}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>lightning(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{109,596},{77,515}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{77,515}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>lightning(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{61,515}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{61,515}}</string>
                <key>sourceSize</key>
                <string>{105,515}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{3,324}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{3,324}}</string>
                <key>sourceSize</key>
                <string>{3,362}</string>
            </dict>
            <key>zidan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,696},{79,149}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,149}}</string>
                <key>sourceSize</key>
                <string>{79,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullets.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b08c3610279b87f99a15682b3a3f89c5:7d7bbc19c9d98add0e7704b19d4301b7:73c53991d0580d711bcd1f1b9efd3592$</string>
            <key>textureFileName</key>
            <string>bullets.png</string>
        </dict>
    </dict>
</plist>
