<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{819,782},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>end(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,530}}</string>
                <key>sourceSize</key>
                <string>{403,530}</string>
            </dict>
            <key>end(10).png</key>
            <dict>
                <key>frame</key>
                <string>{{759,530},{77,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,22}}</string>
                <key>sourceSize</key>
                <string>{77,22}</string>
            </dict>
            <key>end(11).png</key>
            <dict>
                <key>frame</key>
                <string>{{446,993},{89,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,25}}</string>
                <key>sourceSize</key>
                <string>{89,25}</string>
            </dict>
            <key>end(12).png</key>
            <dict>
                <key>frame</key>
                <string>{{537,993},{88,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,25}}</string>
                <key>sourceSize</key>
                <string>{88,25}</string>
            </dict>
            <key>end(13).png</key>
            <dict>
                <key>frame</key>
                <string>{{198,534},{356,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,323}}</string>
                <key>sourceSize</key>
                <string>{356,323}</string>
            </dict>
            <key>end(14).png</key>
            <dict>
                <key>frame</key>
                <string>{{133,905},{103,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,25}}</string>
                <key>sourceSize</key>
                <string>{103,25}</string>
            </dict>
            <key>end(15).png</key>
            <dict>
                <key>frame</key>
                <string>{{738,262},{284,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,231}}</string>
                <key>sourceSize</key>
                <string>{284,231}</string>
            </dict>
            <key>end(16).png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1010},{246,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,2}}</string>
                <key>sourceSize</key>
                <string>{246,2}</string>
            </dict>
            <key>end(17).png</key>
            <dict>
                <key>frame</key>
                <string>{{926,782},{66,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,16}}</string>
                <key>sourceSize</key>
                <string>{66,16}</string>
            </dict>
            <key>end(18).png</key>
            <dict>
                <key>frame</key>
                <string>{{364,892},{100,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,16}}</string>
                <key>sourceSize</key>
                <string>{100,16}</string>
            </dict>
            <key>end(19).png</key>
            <dict>
                <key>frame</key>
                <string>{{908,782},{66,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,16}}</string>
                <key>sourceSize</key>
                <string>{66,16}</string>
            </dict>
            <key>end(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{523,530},{354,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,144}}</string>
                <key>sourceSize</key>
                <string>{354,144}</string>
            </dict>
            <key>end(20).png</key>
            <dict>
                <key>frame</key>
                <string>{{890,782},{66,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,16}}</string>
                <key>sourceSize</key>
                <string>{66,16}</string>
            </dict>
            <key>end(21).png</key>
            <dict>
                <key>frame</key>
                <string>{{738,886},{67,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,16}}</string>
                <key>sourceSize</key>
                <string>{67,16}</string>
            </dict>
            <key>end(22).png</key>
            <dict>
                <key>frame</key>
                <string>{{364,994},{80,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,14}}</string>
                <key>sourceSize</key>
                <string>{80,14}</string>
            </dict>
            <key>end(23).png</key>
            <dict>
                <key>frame</key>
                <string>{{382,892},{354,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,99}}</string>
                <key>sourceSize</key>
                <string>{354,99}</string>
            </dict>
            <key>end(24).png</key>
            <dict>
                <key>frame</key>
                <string>{{777,690},{160,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,40}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>end(25).png</key>
            <dict>
                <key>frame</key>
                <string>{{627,993},{159,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,22}}</string>
                <key>sourceSize</key>
                <string>{159,22}</string>
            </dict>
            <key>end(26).png</key>
            <dict>
                <key>frame</key>
                <string>{{796,495},{225,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,16}}</string>
                <key>sourceSize</key>
                <string>{225,16}</string>
            </dict>
            <key>end(27).png</key>
            <dict>
                <key>frame</key>
                <string>{{759,609},{242,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,16}}</string>
                <key>sourceSize</key>
                <string>{242,16}</string>
            </dict>
            <key>end(28).png</key>
            <dict>
                <key>frame</key>
                <string>{{819,736},{198,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,44}}</string>
                <key>sourceSize</key>
                <string>{198,44}</string>
            </dict>
            <key>end(29).png</key>
            <dict>
                <key>frame</key>
                <string>{{819,690},{198,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,44}}</string>
                <key>sourceSize</key>
                <string>{198,44}</string>
            </dict>
            <key>end(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{669,530},{354,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,88}}</string>
                <key>sourceSize</key>
                <string>{354,88}</string>
            </dict>
            <key>end(30).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,899},{246,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,44}}</string>
                <key>sourceSize</key>
                <string>{246,44}</string>
            </dict>
            <key>end(31).png</key>
            <dict>
                <key>frame</key>
                <string>{{759,853},{246,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,44}}</string>
                <key>sourceSize</key>
                <string>{246,44}</string>
            </dict>
            <key>end(32).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{369,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,97}}</string>
                <key>sourceSize</key>
                <string>{369,97}</string>
            </dict>
            <key>end(33).png</key>
            <dict>
                <key>frame</key>
                <string>{{101,534},{369,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,95}}</string>
                <key>sourceSize</key>
                <string>{369,95}</string>
            </dict>
            <key>end(34).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{129,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,117}}</string>
                <key>sourceSize</key>
                <string>{129,117}</string>
            </dict>
            <key>end(35).png</key>
            <dict>
                <key>frame</key>
                <string>{{788,610},{231,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,78}}</string>
                <key>sourceSize</key>
                <string>{231,78}</string>
            </dict>
            <key>end(36).png</key>
            <dict>
                <key>frame</key>
                <string>{{602,495},{192,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,33}}</string>
                <key>sourceSize</key>
                <string>{192,33}</string>
            </dict>
            <key>end(37).png</key>
            <dict>
                <key>frame</key>
                <string>{{407,495},{193,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,33}}</string>
                <key>sourceSize</key>
                <string>{193,33}</string>
            </dict>
            <key>end(38).png</key>
            <dict>
                <key>frame</key>
                <string>{{788,945},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>end(39).png</key>
            <dict>
                <key>frame</key>
                <string>{{407,122},{177,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,62}}</string>
                <key>sourceSize</key>
                <string>{177,62}</string>
            </dict>
            <key>end(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{407,62},{327,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,58}}</string>
                <key>sourceSize</key>
                <string>{327,58}</string>
            </dict>
            <key>end(40).png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{284,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,258}}</string>
                <key>sourceSize</key>
                <string>{284,258}</string>
            </dict>
            <key>end(41).png</key>
            <dict>
                <key>frame</key>
                <string>{{788,530},{231,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,78}}</string>
                <key>sourceSize</key>
                <string>{231,78}</string>
            </dict>
            <key>end(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{327,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,58}}</string>
                <key>sourceSize</key>
                <string>{327,58}</string>
            </dict>
            <key>end(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{313,892},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>end(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{262,892},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>end(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{211,892},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
            <key>end(9).png</key>
            <dict>
                <key>frame</key>
                <string>{{160,905},{102,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,49}}</string>
                <key>sourceSize</key>
                <string>{102,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e2dff492149b8311548e2a1b971ccc:f4290eb1ba068fd8d397fc5d6030b0c9:b3b43b3555b36d2c598428cbc20c714d$</string>
            <key>textureFileName</key>
            <string>endUI.png</string>
        </dict>
    </dict>
</plist>
