<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light(0).png</key>
            <dict>
                <key>frame</key>
                <string>{{145,458},{491,121}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,121}}</string>
                <key>sourceSize</key>
                <string>{491,129}</string>
            </dict>
            <key>light(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{420,97}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{420,97}}</string>
                <key>sourceSize</key>
                <string>{436,97}</string>
            </dict>
            <key>light(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{517,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,129}}</string>
                <key>sourceSize</key>
                <string>{517,129}</string>
            </dict>
            <key>light(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{426,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,141}}</string>
                <key>sourceSize</key>
                <string>{426,141}</string>
            </dict>
            <key>light(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{454,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,128}}</string>
                <key>sourceSize</key>
                <string>{454,128}</string>
            </dict>
            <key>light(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{268,424},{260,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,90}}</string>
                <key>sourceSize</key>
                <string>{260,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lights.png</string>
            <key>size</key>
            <string>{362,951}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eedc1a6b55ca7959bed01849cad1a7d:4e15e11d5567351875552d3b3cfd1cdd:eb4dcde3c8f848e8be5005e19be4514d$</string>
            <key>textureFileName</key>
            <string>lights.png</string>
        </dict>
    </dict>
</plist>
