<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,579},{167,182}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,91},{167,182}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{321,340}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{321,340}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{303,350}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{303,350}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,352}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{319,352}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{311,336}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{311,336}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1050},{321,314}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{321,314}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1373},{317,318}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{317,318}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1693},{299,310}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{299,310}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,695},{289,304}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{289,304}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao18.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,695},{285,304}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{285,304}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1371},{271,302}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{271,302}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,2},{235,254}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,42},{235,254}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao20.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{271,296}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{271,296}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,996},{273,298}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{273,298}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao22.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1361},{275,300}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{275,300}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao23.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1001},{277,302}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{277,302}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao24.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,340},{279,304}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{279,304}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao25.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{277,304}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{277,304}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,300},{277,270}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,58},{277,270}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{261,274}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,57},{261,274}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,2},{255,234}}</string>
                <key>offset</key>
                <string>{9,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,98},{255,234}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,308},{267,298}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,19},{267,298}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,646},{289,298}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,19},{289,298}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1716},{311,310}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{311,310}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{327,322}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{327,322}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,356},{337,330}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{337,330}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{317,336}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{317,336}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>bao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{321,334}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{321,334}}</string>
                <key>sourceSize</key>
                <string>{353,362}</string>
            </dict>
            <key>e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2005},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,308},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>e15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,479},{186,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,175}}</string>
                <key>sourceSize</key>
                <string>{186,175}</string>
            </dict>
            <key>e16.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1693},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>e17.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,946},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>e18.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1305},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>e19.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1305},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,235},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>e20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,377},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>e21.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,340},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>e22.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2005},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>e23.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2005},{50,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,38}}</string>
                <key>sourceSize</key>
                <string>{50,38}</string>
            </dict>
            <key>e24.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1305},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,161},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>e30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,2},{84,86}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,84},{84,86}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>e31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1895,463},{120,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{120,132}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>e32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,656},{178,176}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{178,176}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>e33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,463},{202,200}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{202,200}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>e34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,259},{228,218}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{228,218}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>e35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,239},{236,222}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{236,222}}</string>
                <key>sourceSize</key>
                <string>{236,232}</string>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,88},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1305},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1305},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameBullet01.jpg</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a38ddfbeb6a57f210ddb2c1e9c68cd$</string>
            <key>textureFileName</key>
            <string>gameBullet01.jpg</string>
        </dict>
    </dict>
</plist>
