<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,821},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>b1e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,366},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{26,19}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>b1e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,372},{86,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{86,61}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>b1e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,280},{90,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{90,61}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>b1e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,310},{78,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{78,41}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>b1e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,784},{62,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{62,35}}</string>
                <key>sourceSize</key>
                <string>{120,85}</string>
            </dict>
            <key>b2e0.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,630},{127,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,40},{127,109}}</string>
                <key>sourceSize</key>
                <string>{163,189}</string>
            </dict>
            <key>b2e1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,182},{123,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{123,97}}</string>
                <key>sourceSize</key>
                <string>{163,189}</string>
            </dict>
            <key>b2e10.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,493},{131,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{131,136}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>b2e11.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,459},{127,124}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{127,124}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>b2e12.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,459},{123,116}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{123,116}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>b2e13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,182},{99,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{99,96}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>b2e14.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,366},{87,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{87,90}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>b2e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,182},{121,87}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{121,87}}</string>
                <key>sourceSize</key>
                <string>{163,189}</string>
            </dict>
            <key>b2e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,480},{121,149}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{121,149}}</string>
                <key>sourceSize</key>
                <string>{165,189}</string>
            </dict>
            <key>b2e4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,851},{120,171}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{120,171}}</string>
                <key>sourceSize</key>
                <string>{164,189}</string>
            </dict>
            <key>b2e5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{116,165}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{116,165}}</string>
                <key>sourceSize</key>
                <string>{164,189}</string>
            </dict>
            <key>b2e6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,851},{119,159}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{119,159}}</string>
                <key>sourceSize</key>
                <string>{163,189}</string>
            </dict>
            <key>b2e7.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,631},{105,151}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{105,151}}</string>
                <key>sourceSize</key>
                <string>{163,189}</string>
            </dict>
            <key>b2e8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{97,141}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{97,141}}</string>
                <key>sourceSize</key>
                <string>{163,189}</string>
            </dict>
            <key>b2e9.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,390},{67,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{67,74}}</string>
                <key>sourceSize</key>
                <string>{139,152}</string>
            </dict>
            <key>b2e91.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,631},{188,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,187}}</string>
                <key>sourceSize</key>
                <string>{188,187}</string>
            </dict>
            <key>e0t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,759},{60,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>e0t1p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,759},{88,119}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,119}}</string>
                <key>sourceSize</key>
                <string>{88,127}</string>
            </dict>
            <key>e0t1p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,244},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>e0t2p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,851},{157,91}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{157,91}}</string>
                <key>sourceSize</key>
                <string>{171,197}</string>
            </dict>
            <key>e0t2p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,734},{23,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{23,61}</string>
            </dict>
            <key>e0t3p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{278,256}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{278,256}}</string>
                <key>sourceSize</key>
                <string>{284,256}</string>
            </dict>
            <key>e0t3p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,588},{40,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,78}}</string>
                <key>sourceSize</key>
                <string>{42,88}</string>
            </dict>
            <key>e0t3p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,588},{40,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{40,78}}</string>
                <key>sourceSize</key>
                <string>{42,88}</string>
            </dict>
            <key>e1t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,742},{52,53}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>e1t1p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,182},{97,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{97,124}}</string>
                <key>sourceSize</key>
                <string>{103,130}</string>
            </dict>
            <key>e1t1p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,819},{26,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,58}}</string>
                <key>sourceSize</key>
                <string>{34,58}</string>
            </dict>
            <key>e1t2p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,282},{209,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{209,120}}</string>
                <key>sourceSize</key>
                <string>{215,124}</string>
            </dict>
            <key>e1t2p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,784},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>e1t3p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{350,197}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{350,197}}</string>
                <key>sourceSize</key>
                <string>{392,225}</string>
            </dict>
            <key>e1t3p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,584},{67,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{67,61}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>e1t3p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,313},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>e2t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,928},{56,59}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,59}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>e2t1p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,182},{84,129}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{84,129}}</string>
                <key>sourceSize</key>
                <string>{86,151}</string>
            </dict>
            <key>e2t1p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,998},{24,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>e2t2p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,634},{215,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,122}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>e2t2p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,821},{27,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>e2t3p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{368,178}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{368,178}}</string>
                <key>sourceSize</key>
                <string>{408,178}</string>
            </dict>
            <key>e2t3p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,849},{77,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>e2t3p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,584},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>e3b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,244},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,35}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>e3t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,313},{50,54}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>e3t1p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,276},{132,88}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{144,98}</string>
            </dict>
            <key>e3t1p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,366},{22,33}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>e3t2p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,282},{196,109}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{196,109}}</string>
                <key>sourceSize</key>
                <string>{208,129}</string>
            </dict>
            <key>e3t2p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,594},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>e3t3p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,178}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{392,178}}</string>
                <key>sourceSize</key>
                <string>{406,184}</string>
            </dict>
            <key>e3t3p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,390},{73,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{73,67}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>e3t3p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,663},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>e4t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,182},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,65}</string>
            </dict>
            <key>e4t1p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,850},{146,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,90}}</string>
                <key>sourceSize</key>
                <string>{146,90}</string>
            </dict>
            <key>e4t1p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,588},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>e4t2p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{221,110}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{221,110}}</string>
                <key>sourceSize</key>
                <string>{249,126}</string>
            </dict>
            <key>e4t2p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,260},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>e5t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,759},{58,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,55}}</string>
                <key>sourceSize</key>
                <string>{60,63}</string>
            </dict>
            <key>e5t1p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,850},{121,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{121,135}}</string>
                <key>sourceSize</key>
                <string>{123,139}</string>
            </dict>
            <key>e5t1p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,282},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>e6t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,928},{54,56}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>e7t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,365},{53,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>e8t0p0.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,663},{59,69}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>gameExtra(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{480,460},{132,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,21}}</string>
                <key>sourceSize</key>
                <string>{132,21}</string>
            </dict>
            <key>gameExtra(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{457,460},{132,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,21}}</string>
                <key>sourceSize</key>
                <string>{132,21}</string>
            </dict>
            <key>gameIcon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,821},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>gameIcon1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,741},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>gameIcon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,986},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{31,30}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>gameIcon3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,844},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>gameIcon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,987},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{35,36}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>gameIcon4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,797},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,50}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>gameIcon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,987},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{35,36}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>gameIcon5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,847},{47,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,50}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>gameIcon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,986},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>gameIcon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,986},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>gameIcon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,366},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>gameIcon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,714},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>gameIcon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,653},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>playLf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,793},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>playLf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,899},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>playLf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,899},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>playLf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,714},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>t0i0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,986},{36,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>t0i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,821},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{27,23}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>t0i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,987},{35,30}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>t0i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,821},{36,28}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,28}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
            <key>t1i0.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,821},{27,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{27,23}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>t1i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,821},{32,28}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>t1i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,821},{34,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>t1i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,821},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{27,24}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>t2i0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,821},{28,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{28,24}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>t2i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,821},{27,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{27,23}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>t2i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,998},{33,24}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{33,24}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>t2i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,821},{27,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>t3i0.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,714},{26,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{26,24}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>t3i1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,821},{28,28}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>t3i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,998},{30,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,24}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>t3i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,588},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemyList.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77d62d109f24dad8d9c3481a8601eecf:b6667a3d8e032808278e2c5837652195:19db29ff74f64f48da571f1e63d83543$</string>
            <key>textureFileName</key>
            <string>enemyList.png</string>
        </dict>
    </dict>
</plist>
