<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{232,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,573}}</string>
                <key>sourceSize</key>
                <string>{232,573}</string>
            </dict>
            <key>bs_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,726},{304,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,238}}</string>
                <key>sourceSize</key>
                <string>{304,238}</string>
            </dict>
            <key>bs_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,732},{273,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,238}}</string>
                <key>sourceSize</key>
                <string>{273,238}</string>
            </dict>
            <key>bs_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,726},{246,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,238}}</string>
                <key>sourceSize</key>
                <string>{246,238}</string>
            </dict>
            <key>bs_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,680},{221,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,238}}</string>
                <key>sourceSize</key>
                <string>{221,238}</string>
            </dict>
            <key>bs_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,661},{200,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,238}}</string>
                <key>sourceSize</key>
                <string>{200,238}</string>
            </dict>
            <key>bs_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,726},{246,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,238}}</string>
                <key>sourceSize</key>
                <string>{246,238}</string>
            </dict>
            <key>bs_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,732},{273,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,238}}</string>
                <key>sourceSize</key>
                <string>{273,238}</string>
            </dict>
            <key>bs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,236},{232,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,578}}</string>
                <key>sourceSize</key>
                <string>{232,578}</string>
            </dict>
            <key>bs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{232,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,583}}</string>
                <key>sourceSize</key>
                <string>{232,583}</string>
            </dict>
            <key>bs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,236},{232,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,591}}</string>
                <key>sourceSize</key>
                <string>{232,591}</string>
            </dict>
            <key>bs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{232,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,598}}</string>
                <key>sourceSize</key>
                <string>{232,598}</string>
            </dict>
            <key>bs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{232,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,583}}</string>
                <key>sourceSize</key>
                <string>{232,583}</string>
            </dict>
            <key>bs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,236},{232,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,578}}</string>
                <key>sourceSize</key>
                <string>{232,578}</string>
            </dict>
            <key>bs_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,558},{106,51}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,51}}</string>
                <key>sourceSize</key>
                <string>{194,51}</string>
            </dict>
            <key>bs_buyed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,794},{108,51}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{108,51}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>bs_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,782},{108,51}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{108,51}}</string>
                <key>sourceSize</key>
                <string>{194,51}</string>
            </dict>
            <key>bs_canceled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,470},{174,59}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{174,59}}</string>
                <key>sourceSize</key>
                <string>{208,65}</string>
            </dict>
            <key>bs_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,635},{104,49}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{194,51}</string>
            </dict>
            <key>bs_sureed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,484},{180,57}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{180,57}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>bs_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,2},{301,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{301,63}}</string>
                <key>sourceSize</key>
                <string>{305,63}</string>
            </dict>
            <key>butn_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,666},{114,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,53}}</string>
                <key>sourceSize</key>
                <string>{114,53}</string>
            </dict>
            <key>butn_bsed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,519},{114,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,53}}</string>
                <key>sourceSize</key>
                <string>{114,53}</string>
            </dict>
            <key>butn_bseed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,611},{74,45}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{74,45}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,987},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>canceled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,611},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>his_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,666},{126,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,37}}</string>
                <key>sourceSize</key>
                <string>{126,37}</string>
            </dict>
            <key>m_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,243},{239,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,64}}</string>
                <key>sourceSize</key>
                <string>{239,64}</string>
            </dict>
            <key>m_started.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,2},{239,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,64}}</string>
                <key>sourceSize</key>
                <string>{239,64}</string>
            </dict>
            <key>no_menoy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,668},{406,56}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{406,56}}</string>
                <key>sourceSize</key>
                <string>{422,64}</string>
            </dict>
            <key>num_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,979},{130,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,21}}</string>
                <key>sourceSize</key>
                <string>{130,21}</string>
            </dict>
            <key>play0.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,983},{22,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>play1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,828},{25,25}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>play2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,988},{30,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>ui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,999},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>ui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,305},{115,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,15}}</string>
                <key>sourceSize</key>
                <string>{115,15}</string>
            </dict>
            <key>ui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,555},{1,1}}</string>
                <key>offset</key>
                <string>{-208,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{417,16}</string>
            </dict>
            <key>ui12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,243},{35,5}}</string>
                <key>offset</key>
                <string>{83,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,88},{35,5}}</string>
                <key>sourceSize</key>
                <string>{201,93}</string>
            </dict>
            <key>ui13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,555},{1,1}}</string>
                <key>offset</key>
                <string>{-208,7.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{417,16}</string>
            </dict>
            <key>ui14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,961},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>ui15.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,668},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,55}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>ui16.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,966},{198,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,20}}</string>
                <key>sourceSize</key>
                <string>{200,20}</string>
            </dict>
            <key>ui17.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1007},{119,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,11}}</string>
                <key>sourceSize</key>
                <string>{119,11}</string>
            </dict>
            <key>ui18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,999},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>ui19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,999},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>ui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,999},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>ui20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,999},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>ui21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,999},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>ui22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,999},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>ui23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,555},{318,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,123}}</string>
                <key>sourceSize</key>
                <string>{318,123}</string>
            </dict>
            <key>ui24.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,726},{4,4}}</string>
                <key>offset</key>
                <string>{-36,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{4,4}}</string>
                <key>sourceSize</key>
                <string>{76,108}</string>
            </dict>
            <key>ui25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,555},{94,104}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{94,104}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>ui26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,555},{1,1}}</string>
                <key>offset</key>
                <string>{-239.5,209.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{480,420}</string>
            </dict>
            <key>ui27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{401,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,249}}</string>
                <key>sourceSize</key>
                <string>{401,249}</string>
            </dict>
            <key>ui28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,901},{212,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,58}}</string>
                <key>sourceSize</key>
                <string>{212,58}</string>
            </dict>
            <key>ui29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,305},{212,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,58}}</string>
                <key>sourceSize</key>
                <string>{212,58}</string>
            </dict>
            <key>ui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,966},{189,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,19}}</string>
                <key>sourceSize</key>
                <string>{189,19}</string>
            </dict>
            <key>ui30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,760},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>ui31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,960},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>ui32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,904},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>ui33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,904},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>ui34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,961},{213,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,57}}</string>
                <key>sourceSize</key>
                <string>{213,57}</string>
            </dict>
            <key>ui35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,920},{213,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,57}}</string>
                <key>sourceSize</key>
                <string>{213,57}</string>
            </dict>
            <key>ui36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,680},{64,34}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{64,34}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>ui37.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,637},{480,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,29}}</string>
                <key>sourceSize</key>
                <string>{480,29}</string>
            </dict>
            <key>ui40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,494}}</string>
                <key>sourceSize</key>
                <string>{468,494}</string>
            </dict>
            <key>ui46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{345,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,11}}</string>
                <key>sourceSize</key>
                <string>{345,11}</string>
            </dict>
            <key>ui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,741},{42,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,17}}</string>
                <key>sourceSize</key>
                <string>{52,21}</string>
            </dict>
            <key>ui9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{370,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{370,17}}</string>
                <key>sourceSize</key>
                <string>{380,17}</string>
            </dict>
            <key>ul1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,987},{138,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,26}}</string>
                <key>sourceSize</key>
                <string>{138,26}</string>
            </dict>
            <key>ul3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,960},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>ul4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,979},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>ul5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,470},{42,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,17}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>ul6.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,988},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ul8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,680},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>ul9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,979},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>wan_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,470},{480,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,165}}</string>
                <key>sourceSize</key>
                <string>{480,165}</string>
            </dict>
            <key>wan_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,470},{99,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,86}}</string>
                <key>sourceSize</key>
                <string>{99,86}</string>
            </dict>
            <key>wan_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,470},{422,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,83}}</string>
                <key>sourceSize</key>
                <string>{422,83}</string>
            </dict>
            <key>wan_td.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,966},{144,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,26}}</string>
                <key>sourceSize</key>
                <string>{144,26}</string>
            </dict>
            <key>wan_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,988},{143,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,22}}</string>
                <key>sourceSize</key>
                <string>{143,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameIng0.png</string>
            <key>size</key>
            <string>{1788,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7cbc34d7e57740f340c5a6233fe7f91:71a187285339f807de0279f379ad4105:1ae5580be49a62d820aaa374d5e21db7$</string>
            <key>textureFileName</key>
            <string>gameIng0.png</string>
        </dict>
    </dict>
</plist>
